body {
  background: #00E7DC;
  margin:0; 
  padding:0; 
  overflow:hidden
}

h1 {
  font-family: 'Nunito', sans-serif;
  color: #fff;
  text-align: center;
  padding: 2em 0 0;
  opacity: 0;
}

svg {
  position:fixed; 
  bottom:0; 
  left:0;
  height: 100%;
  width:100%
}